body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right,#D61A70, #000,  #000);
  margin: 0;
  padding: 0;
}

.banner {
  width: 20%;             
  height: auto;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;         
  border-radius: 0;   
}

.product {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.bottom {
  width: 20%;             
  height: auto;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;         
  border-radius: 0;   
}

.button {
  display: block;
  width: 80%;
  max-width: 1400px;
  padding: 10px;
  margin: 20px auto;
  background-color: #D61A70;
  color: white;
  border:  none;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
}

form {
  background: white;
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.home-icon {
  font-size: 24px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 600px) {
    .banner{
        max-height: 200px;
        border-radius: 8px;
    }
}

.footer {
  text-align: center;        /* Same as text-center */
  padding-bottom: 1.5rem;    /* Same as py-4 (bottom) */
  /*background-color: #000;    /* Optional: same as bg-dark */
  color: white;              /* Optional: same as text-white */
  font-size: 14px;
}

.custom-gallery {
  display: flex;
  flex-wrap: nowrap;         /* force all in one horizontal line */
  overflow-x: auto;          /* scroll horizontally if overflow */
  gap: 20px;
  justify-content: center;
  padding: 10px 0;
}

.gallery-img-portrait {
  width: 120%;
  aspect-ratio: 3 / 4;        /* height greater than width */
  object-fit: cover;
  border: 3px solid white;
  transition: transform 0.3s ease;
  flex-shrink: 0;             /* prevent shrinking on small screens */
}

.gallery-img-portrait:hover {
  transform: scale(1.05);
}
